<div class="center container mt-3">
  <img
    src="https://uploaddeimagens.com.br/images/003/846/881/original/logo_multisearch.png?1651150389"
  />
  <div class="search-box">
    <div class="input-group md-form form-sm form-2 pl-0">
      <input
        class="form-control my-0 py-2 red-border"
        type="text"
        placeholder="Faça aqui sua pesquisa"
        aria-label="Search"
      />
      <div class="input-group-append">
        <span class="input-group-text rlighten-3" id="basic-text1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-search"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            />
          </svg>
        </span>
      </div>
    </div>
  </div>
  <div class="cards">
  <div class="card sales-oders mt-2">
    <div class=" card-header">Pedidos de Venda</div>
    <div class="card-body">
      <p class="card-text">
        With supporting text below as a natural lead-in to additional content.
      </p>
    </div>
  </div>
  <div class="card purchase-orders mt-2">
    <div class="card-header">Pedidos de Compra</div>
    <div class="card-body">
      <p class="card-text">
        With supporting text below as a natural lead-in to additional content.
      </p>
    </div>
  </div>
  <div class="card materials mt-2">
    <div class="card-header">Produtos</div>
    <div class="card-body">
      <p class="card-text">
        With supporting text below as a natural lead-in to additional content.
      </p>
    </div>
  </div>
  <div class="card equipments mt-2">
    <div class="card-header">Equipamentos</div>
    <div class="card-body">
      <p class="card-text">
        With supporting text below as a natural lead-in to additional content.
      </p>
    </div>
  </div>
  <div class="card workforce mt-2">
    <div class="card-header">Mão de Obra</div>
    <div class="card-body">
      <p class="card-text">
        With supporting text below as a natural lead-in to additional content.
      </p>
    </div>
  </div>
  </div>
</div>
