p {
  font-family: Lato;
}
img {
  margin: auto;
}
.search-box {
  width: 50%;
  margin: auto;
}
.cards {
  width: 50%;
  margin: auto;
}
.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
